
    <div class="container" ng-controller="AboutController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Sobre</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Sobre</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Retratos do Interior</h2>
                <p>Retratos do interior é uma empresa de fotografias que atende as mais variadas formas de registros fotográficos. </p>
            </div>
        </div>
    </div>
